<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <%- require('!!ejs-webpack-loader!./shared/header.ejs')() %>
      <%- require('!!ejs-webpack-loader!./shared/aside.ejs')() %>
      <%- require('!!ejs-webpack-loader!./shared/gallery.ejs')() %>
      <%- require('!!ejs-webpack-loader!./containers/pages/profile.ejs')() %>
    </div>
    <% include shared/sidenav/main %> 
    <% include shared/scrolltotop %> 
    <%- require('!!ejs-webpack-loader!./shared/sidenav/main.ejs')() %>
    <%- require('!!ejs-webpack-loader!./shared/scrolltotop.ejs')() %>
  </body>
</html>
